services:
  arping-watcher:
    build: .
    container_name: arping-watcher
    env_file:
      - .env
    volumes:
      - ./:/app:rw
    restart: unless-stopped
    network_mode: "host"  # arpingで必要
    tty: true
